@font-face {
    font-family: 'MyFont';
    src: url('./fonts/Questrial-Regular.ttf');
}

body {
    font-family: 'MyFont';
    background-color: #1f2937;
    margin: 0%;
}

html {
    margin: 0%;
    height: 100%;
}

header {
    background-color: orange;
    padding: 2rem;
    display: flex;
    justify-content: end;
}

header {
    gap: 1rem;
}

nav {
    display: flex;
    gap: 0.6rem;
}

header button {
    background-color: #02BBAB;
    border: 0px solid white;
    border-radius: 14px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 white;
    transition: all 0.5s ease-in-out 0s;

    &:hover {
        box-shadow: inset 0 -300px 0 0 white;

    }
}

.card {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2em;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 450px;
    border-left: 10px solid #7c3aed;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.home-text {
    text-align: center;
    font-size: 30px;
    color: #02BBAB;
    max-width: 70%;
}

h1 {
    font-size: 45px;
    color: #02BBAB;
}

.about-container {
    color: #02BBAB;
    display: flex;
    flex-direction: column;
    align-items: center;
/* justify-content: center; */
}
